<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="container p-4">
  <button mat-raised-button (click)="addHochbeet()" color="primary">
    Beet erstellen
  </button>
</div>
@if (isLoading$ | async) {
  <mat-spinner
    class="m-auto mt-32"
    strokeWidth="5"
    diameter="500"
  ></mat-spinner>
} @else {}
<div class="container">
  <!-- <app-hochbeet-canvas></app-hochbeet-canvas> -->
  <!-- [style.width.px]="hochbeet.width * 6" -->

  @for (hochbeet of hochbeetList$ | async; track hochbeet) {
    <app-single-hochbeet [hochbeet]="hochbeet"></app-single-hochbeet>
  }
</div>
